NEXT_PUBLIC_DATA_GOV_API_KEY=579b464db66ec23bdd000001e3798da5146742927fc50d56cce568cd
VITE_DATA_GOV_API_KEY=579b464db66ec23bdd000001e3798da5146742927fc50d56cce568cd
VITE_SUPABASE_URL=https://xqbsbacqarmidvavbvbz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhxYnNiYWNxYXJtaWR2YXZidmJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwODM2NDgsImV4cCI6MjA4OTY1OTY0OH0.hh6XygWJrWZqb5rhcl6VmArxSd1hbjUalEmmaJZvyag